<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backPage()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{category['name']}}</ion-title>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event.detail.value)"
                  interface="popover">
        <ion-select-option *ngFor="let lang of languageOptions" [value]="lang.code">
           {{ lang.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="row mb-4" *ngFor="let fav of favorites">
      <div class="row">
        <div class="col-3">
          <div class="list-img-container-sm my-auto" (click)="openModal($event, fav.element['image'])">
            <ion-img class="list-img-sm img-cover" src="{{fav.element['image'] || '../../assets/icon/no-image.jpg'}}"></ion-img>
          </div>
        </div>
        <div class="col item-data">
          <h6>{{fav.element['name']}}</h6>
          <p *ngIf="fav.element['description']" [innerHTML]="fav.element['description'].substring(0, 50) + '...'"></p>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center gap-2">
          <ion-button shape="round" class="access-btn dl-btn" (click)="locateElement(fav.element)">
            <ion-icon slot="icon-only" name="location"></ion-icon>
          </ion-button>
          <ion-button shape="round" class="visit-btn dl-btn" [ngClass]="{'active' : fav.visited}" (click)="toggleVisited($event, fav)">
            <ion-icon slot="icon-only" name="flag"></ion-icon>
          </ion-button> 
          <ion-button shape="round" class="delete-btn dl-btn" (click)="deleteFavorite(fav)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button> 
      </div>
    </div>
  </div>

  <ion-modal class="modal-img" [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()">
    <ng-template>
        <ion-img src="{{ imageModal || '../../assets/icon/no-image.jpg' }}"></ion-img>
    </ng-template>
  </ion-modal>
</ion-content>

<div slot="fixed" class="floating-container">
  <div class="row py-2 d-flex justify-content-center">
    <ion-button class="access-btn locate-btn" (click)="locateAllElements()">
      <ion-icon slot="icon-only" name="map"></ion-icon>
    </ion-button>
  </div>
</div>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <div class="vertical-btn" (click)="startPage()">
          <ion-icon name="home" size="large"></ion-icon>
          <ion-label class="ion-text-wrap text-dark">{{'home.title' | translate}}</ion-label>
        </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="vertical-btn">
        <ion-icon [routerLink]="['/']" name="exit-outline" size="large"></ion-icon>
        <ion-label class="ion-text-wrap text-dark"> {{ 'exit.exit' | translate }} </ion-label>
      </div>
    </ion-buttons>  
  </ion-toolbar>
</ion-footer>
