<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backPage()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event.detail.value)"
                  interface="popover">
        <ion-select-option *ngFor="let lang of languageOptions" [value]="lang.code">
          {{ lang.emoji }} {{ lang.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="d-flex align-items-center justify-content-center" style="width: fit-content; margin: 2rem auto;">
    <ion-icon slot="icon-only" name="bus" size="large" style="color: #70889E;"></ion-icon>
    <ion-title class="text-dark">{{parentData['name']}} (Nº {{parentData['id']}})</ion-title>
  </div>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th><ion-icon slot="icon-only" name="time-outline" size="large" style="color: #70889E;"></ion-icon></th>
        <th><ion-icon slot="icon-only" src="../../../assets/icon/ruta.svg" size="large" style="color: #70889E;"></ion-icon></th>
        <th>{{'destination' | translate}}</th>
      </tr>
    </thead>

    @if(loaded){
    <tbody>      
      <tr *ngFor="let elem of elements">
        <td>{{elem.hour.split('T')[1]}}</td>
        <td>{{elem.id}}</td>
        <td>{{elem.path}}</td>
      </tr>
    </tbody>
    } @else {
      <tbody>      
        <tr *ngFor="let i of arraySkeleton">
          <td>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </td>
          <td>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </td>
          <td>
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </td>
        </tr>
      </tbody>
    }
    
  </table>
</ion-content>

<ion-footer [translucent]="true">
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="nextPage('node/12771')">
        <ion-icon name="map" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <ion-button (click)="nextPage('node/12770')" style="--background: white; --box-shadow: none;">
        <ion-icon src="../../../assets/icon/persona.svg" size="large"></ion-icon>
      </ion-button>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="nextPage('node/12769')">
        <ion-icon name="list" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-buttons slot="start">
        <div class="vertical-btn" (click)="startPage()">
          <ion-icon name="home" size="large"></ion-icon>
          <ion-label class="ion-text-wrap text-dark">{{'home' | translate}}</ion-label>
        </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="vertical-btn">
        <ion-icon [routerLink]="['/']" name="exit-outline" size="large"></ion-icon>
        <ion-label class="ion-text-wrap text-dark"> {{ 'exit.exit' | translate }} </ion-label>
      </div>
    </ion-buttons>  
  </ion-toolbar>
</ion-footer>
