@media only screen and (max-width: 768px) {
    .m-popup.m-collapsed {
        top: calc(100vh - 112px) !important;
    }
}

#map{
  height: 100%;
  width: 100%;
}

ion-fab-button {
  --color: white;
  --background: #71a7d3;
  border: 2px solid white;
  border-radius: 50%;
}

ion-content:has(.m-panel.m-plugin-layerswitcher.opened) ion-fab {
  display: none;
}

ion-item, ion-item-divider {
  --background: white;
  --color: black;
}

ion-item-divider {
  font-size: 1.15rem;
  font-weight: bold;
}

.layer-row{
  background-color: white;
  padding: 0.5em;
}

.pos-end {
    position: absolute;
    right: 0;
}

.form-check-input{
    border: 1px solid black !important;
}

.img-background{
  height: 20vw;
  width: 20vw;
}