<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backPage()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'map' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event.detail.value)"
                  interface="popover">
        <ion-select-option *ngFor="let lang of languageOptions" [value]="lang.code">
          {{ lang.emoji }} {{ lang.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div #map id="map"></div>
</ion-content>

<ion-footer [translucent]="true">
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="nextPage('node/12771')">
        <ion-icon name="map" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <ion-button (click)="nextPage('node/12770')" style="--background: white; --box-shadow: none;">
        <ion-icon src="../../../assets/icon/persona.svg" size="large"></ion-icon>
      </ion-button>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="nextPage('node/12769')">
        <ion-icon name="list" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="startPage()">
        <ion-icon name="home" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['/']" name="exit-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
