h6 {
    margin-top: 2rem;
}

.container {
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#list-grid>ion-row{
    height: 15vh;
}

.item-data {
    color: black;
}

.item-data>h6 {
    font-weight: bold;
}

.item-data>p {
    font-size: 0.8rem;
}

.forward-col {
    vertical-align: middle;
}

.forward-col>ion-icon {
    color: black;
    margin-top: calc(7.5vh - 16px);
}