h6 {
    margin-top: 2rem;
}

ion-content{
    --background: white;
}

.container {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#list-grid>ion-row{
    height: 15vh;
}

.item-data {
    color: black;
}

.item-data>h6 {
    font-weight: bold;
}

.item-data>p {
    font-size: 0.8rem;
}

.forward-col {
    vertical-align: middle;
}

.forward-col>ion-icon {
    color: black;
    margin-top: calc(7.5vh - 16px);
}

.locate-bottom{
    background-color:white; 
    bottom: 6vh;
    padding: 2vh;
}

.floating-container {
    background-color:white; 
    position: fixed;
    bottom: 56px;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
  }

.locate-btn {
    --border-radius: 50%;
    --padding-start: 0.4em;
    --padding-end: 0.4em;
    --padding-bottom: 0.5em;
    --padding-top: 0.5em;
}
  
.floating-container.element-ios{
    bottom: calc(65px + env(safe-area-inset-bottom, 0px));
}
  
