<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backPage()">
        <ion-icon name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{rootNode['title']}}</ion-title>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event.detail.value)"
                  interface="popover">
        <ion-select-option *ngFor="let lang of languageOptions" [value]="lang.code">
           {{ lang.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="root-img-container" *ngIf="rootNode['image']">
      <ion-img [src]="rootNode['image']"></ion-img>
    </div>
    <div class="grid-container">
      <div class="container">

      @if (loaded) {
        <div class="row" *ngFor="let elem of elements">
          <div class="card list-item mb-1">
            <div class="row g-0">
              <div class="col-3 list-img-container-sm my-auto" (click)="openModalImg($event, elem['image'])">
                <ion-img class="list-img-sm img-cover" src="{{elem['image'] || '../../assets/icon/no-image.jpg'}}"></ion-img>
              </div>
              <div class="col-7">
                <div class="card-body">
                  <h5 class="card-title">{{elem['name']}}</h5>
                  <div *ngIf="elem['length'] || elem['difficulty']" class="card-text d-flex">
                      <div [ngSwitch]="getDifficultyValue(elem['difficulty'])">
                        <span class="fw-bold text-white p-2 rounded bg-dark" *ngSwitchCase="'-1'">{{ 'routes.unclassified' | translate }} </span>
                        <span class="fw-bold text-white p-2 rounded bg-medium" *ngSwitchCase="'0'">{{ 'routes.notsuitable' | translate }} </span>
                        <span class="fw-bold text-white p-2 rounded bg-success" *ngSwitchCase="'1'">{{ 'routes.easy' | translate }} </span>
                        <span class="fw-bold text-white p-2 rounded bg-warning" *ngSwitchCase="'2'">{{ 'routes.medium' | translate }} </span>
                        <span class="fw-bold text-white p-2 rounded bg-danger" *ngSwitchCase="'3'">{{ 'routes.hard' | translate }} </span>
                      </div>
                      <div>
                        <span *ngIf="elem['length']" class="fw-bold text-dark ms-3">{{elem['length']}} km</span>
                      </div>
                  </div>
                </div>                
              </div>
              <div class="col-2 my-auto">
                <ion-button shape="round" class="favorite-btn dl-btn" [ngClass]="{'active' : elem['isFav']}" (click)="toggleFavorite($event, elem)">
                  <ion-icon slot="icon-only" name="heart"></ion-icon>
                </ion-button>
                <ion-button shape="round" class="location-btn dl-btn" (click)="locateElement(elem)">
                  <ion-icon slot="icon-only" name="location"></ion-icon>
                </ion-button>
              </div>
            </div>
            <div class="row" *ngIf="elem['description'] || elem['leftbtn'] || elem['rightbtn']">
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" class="mx-auto">
                    <ion-label class="extraInfo-label">{{'moreInfo' | translate}}</ion-label>
                    <ion-icon name="chevron-down" slot="end" class="ion-accordion-toggle-icon"></ion-icon>
                  </ion-item>
                  <div class="extraInfo-content ion-padding container" slot="content">
                    <div class="extraInfo-data mb-3 align-items-center justify-content-center" *ngIf="elem['time'] || elem['start'] || elem['end'] || elem['circ']"> 
                        <div *ngIf="elem['time']">
                          <ion-icon name="time-outline"></ion-icon>
                          {{ elem['time'] }} min
                        </div>
                        <div *ngIf="elem['circ'] == 'SI'">
                          <ion-icon name="refresh-outline"></ion-icon>
                          {{ 'routes.circular' | translate }} 
                        </div>  
                        <div *ngIf="elem['start']">
                          <span class="fw-bold me-1">{{ 'routes.start' | translate }}:</span>{{ elem['start'] }}
                        </div> 
                        <div *ngIf="elem['end']">
                          <span class="fw-bold me-1">{{ 'routes.end' | translate }}:</span>{{ elem['end'] }}
                        </div>                         
                    </div>
                    <div class="row extraInfo-data longText mb-5" *ngIf="elem['description']">
                      <div [innerHTML]="elem['description']"></div>
                    </div>
                    <div (click)="openModalImg($event, elem['graphic'])" *ngIf="elem['graphic']">
                        <img class="route-img" src="{{elem['graphic']}}"/>
                    </div>
                    <div class="row justify-content-evenly" *ngIf="elem['leftbtn'] || elem['rightbtn'] || taskNode.children">
                      <div class="col-6">
                        <div *ngIf="elem.leftbtn || taskNode.children">
                          <ion-button class="access-btn w-100" shape="round" *ngIf="isValidHref(elem.leftbtn)"
                            (click)="openLink(elem.leftbtn)">
                            {{elem.leftbtnLabel | translate}}
                          </ion-button>
                          <ion-button class="access-btn w-100" shape="round" *ngIf="!isValidHref(elem.leftbtn)"
                            (click)="openExtraInfo(elem, 'leftbtn', 'leftbtnLabel')">
                            {{elem.leftbtnLabel | translate}}
                          </ion-button>
                        </div>
                      </div>
                      <div class="col-6">
                        <div *ngIf="elem.rightbtn || (taskNode.children && elem.leftbtn)">
                          <ion-button class="access-btn w-100" shape="round" *ngIf="isValidHref(elem.rightbtn)"
                            (click)="openLink(elem.rightbtn)">
                            {{elem.rightbtnLabel | translate}}
                          </ion-button>
                          <ion-button class="access-btn w-100" shape="round" *ngIf="!isValidHref(elem.rightbtn)"
                            (click)="openExtraInfo(elem, 'rightbtn', 'rightbtnLabel')">
                            {{elem.rightbtnLabel | translate}}
                          </ion-button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </div>
          </div>
        </div>
          } @else {
            <div class="row" *ngFor="let i of arraySkeleton">
              <div class="card list-item mb-1 p-2">
                <div class="row g-0">
                  <div class="col-3 list-img-container-sm my-auto">
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </div>
                  <div class="col-7">
                    <div class="card-body">
                      <h5 class="card-title">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </h5>
                      <p class="card-text">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </p>
                      <p class="card-text">
                        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                      </p>
                    </div>                
                  </div>
                </div>
              </div>
            </div> 
          }
          
      </div>
    </div>
  </div>

  <ion-modal id="extraInfo-modal" #modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeExtraInfoModal()">
    <ng-template>
      <div class="wrapper container">
        <div class="row">
          <h1>{{currentExtraInfo.title | translate}}</h1>
        </div>
        <div class="row">
          <div class="extraInfo-content" [innerHTML]="currentExtraInfo.content">
        </div>       
        </div>
        <div class="row">
          <div class="col">
            <ion-button class="access-btn" expand="block" (click)="closeExtraInfoModal()">Ok</ion-button>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <ion-modal class="modal-img" [isOpen]="isModalOpenImg" (ionModalDidDismiss)="closeModalImg()">
    <ng-template>
        <ion-img src="{{ imageModal || '../../assets/icon/no-image.jpg' }}"></ion-img>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
        <div class="vertical-btn" (click)="startPage()">
        <ion-icon name="home" size="large"></ion-icon>
          <ion-label class="ion-text-wrap text-dark">{{'home.title' | translate}}</ion-label>
        </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <div class="vertical-btn">
      <ion-icon [routerLink]="['/']" name="exit-outline" size="large"></ion-icon>
        <ion-label class="ion-text-wrap text-dark"> {{ 'exit.exit' | translate }} </ion-label>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>